/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.header {
    position: relative;
    overflow: hidden;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header .container {max-width: 900px;}
.headerImg img { max-width:500px; width:100%; }
.PCalculator {
    padding: 4rem 2rem;
    position: relative;
    overflow: hidden;
}
.PCalculator .container {max-width: 900px;}
[data-theme='light'] .header {
    color:#222;
    background:#FBFBFB;
}
.PCalculatorImg img { max-width:380px; width:100%; }
@media screen and (min-width: 996px) {
    .PCalculatorBody {min-width:360px; max-width:360px; }
}
@media screen and (max-width: 996px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
}
[data-theme='light'] .PCalculator {
    color:#222;
    background:#FBFBFB;
}

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}
[data-theme='light'] .heroBanner {
    color:#222;
}

[data-theme='light'] .hero__title {
    background:-webkit-linear-gradient(315deg,#42d392 25%,#647eff);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
